*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921:black;
  --color-3b4149:#3b4149;
  --color-febd69:#febd69;
  --color-232f3e:#232f3e; 
  --color-bf4800:#bf4800;
  --color-f5f5f7:#f5f5f7;
  --color-ededed:#ededed;
  --color-777777:#777777;
  --color-lclclb:#lclclb;  
}
body{
  font-family: "Rubik",sans-serif;
}
a{
  text-decoration:none;
  display: inline-block;
}
.Link{
  text-decoration: none;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap :30px;
}
.button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  text-decoration: none;
}
.button:hover{
  background-color: var(--color-febd69);
  color: var(--color-3b4149);
}
/*header bar*/
.header-top-strip{
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149 );

}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper .input-group-text{
  background-color: var(--color-febd69);
}
.header-upper .header-upper-links img {
  width: 35px;
  height:35px;
}
.header-bottom{
  background-color: var(--color-3b4149);
}
.header-bottom .menu-links a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3 ;
  text-transform: uppercase;
}

.header-bottom .dropdown button
{
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3 ;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus{
  box-shadow: none;
}
.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px,57px,0px)!important;

  
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);

}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
}
/*footer*/
 footer{
  background-color: var(--color-3b4149);
 }
footer:not(:first-child){
  border-top: 1px solid rgba(255,255, 255, .1);
}
.footer-top-data img {
  width: 35px;
  height:35px;
}
footer.input-group-text{
  background-color: var(--color-3b4149);
  color: white;
  padding: 8px 17px;
   
}
/*home*/
.main-banner-content{
  top: 15%;
  right:10%;
}
.main-banner-content h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h6{
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}
.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: blue; 
  background-color: white;
}
.small-banner-content{
  top: 15%;
  left: 0%;
}
.small-banner-content h5{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h6{
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}
.small-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: blue;
  background-color: white;
}
.small-banner{
  width: 49% ;
}
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}
.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories >div > div{
  width: 60%;
}
.categories  >div{
  width: 25%;
  padding: 10px 10px 10px 20px ;
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1 px solid var(--color-ededed);

}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-bottom: 1 px solid var(--color-ededed);

}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
  border-bottom: 1 px solid var(--color-ededed);

}
/*blog*/
.blog-card{
  padding: 20px;
  background-color: white;
  border-radius: 10px;

}
.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content{
  padding: 15px;
}
.blog-contentp.date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-content h6{
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content p.desc{
  font-size: 13px;
  color: var(--color-777777);
  line-height: 13px;
}
.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;

}
/*product card*/
.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.product-card p.description{
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}
.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-131921);
}
.active-bar{
  top:80%;
  right: -30px;
}
.wishlist-icon{
  top: 2%;
  right: 15px;
}
/*special products */
.special-product-card{
  padding: 20px 10px;
  border-radius: 10px;
  background-color:white;

}
.famous-card .famous-content{
top: 10%;
left:10%;

}
.famous-content h5{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  color:white;
  margin-bottom: 7px;
  text-transform: uppercase;
  
}
.famous-content h6{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500px;
  color: white;

}
.famous-content p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}
.famous-card img{
  border-radius: 10px;
}
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;

}
.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color:var(--color-lclclb);
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;

}
.famous-card .form-check-input:focus{
  box-shadow: none;
  border-color: inherit;
}
.filter-card .form-check-input:checked{
  background-color: var(--color-febd69);
}
.sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-lclclb);
  margin-bottom: 15px;
  margin-top: 25px;
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50px;
}
.random-products{
  font-size: 14px;
  margin-bottom: 8px;
}
.random-products:first-child{
  border-bottom: 1px solid var(--color-232f3e);
}
.filter-sort-grid{
  background-color: white;
  padding: 10px;
  border-radius: 10px;


}
.grid img{
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  
}
.gr-12{
  width: 100%;
}
.gr-6{
  width: 49%;
}
.gr-4{
  width: 32%;

}
.gr-4{
  width: 24%;
}
.gr-12 .product-card{
  display: flex;
  gap: 20px;
}
.grid-6 .product-image{
  width: 100%;
}
.gr-6 .product-image img{
  margin: auto;
  display: block;
}
.gr-12 .product-card .product-image{
  width: 270%;
}  
.grid-12 .product-card .product-image{
  height: auto;
}
.gr-12 .action-bar{
  top:13%
}
.contact-iiner-wrapper{
  padding:30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-iiner-wrapper >div{
  width:58%;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;

}
.contact-iiner-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;

}
.contact-iiner-wrapper ul{
  list-style: none;

}
.contact-iiner-wrapper address, .contact-iiner-wrapper a, .contact-iiner-wrapper p{
  color: var(--color-232f3e);
}
.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;

}
.compare-product-card .cross{
  top: 10px;
  right: 10px;
  width: 30px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-lclclb);

}
.compare-product-details h6.ptice{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0,0,0,0.1);
}